alabaster==0.7.10
appnope==0.1.0
Babel==2.5.1
backports-abc==0.5
backports.functools-lru-cache==1.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bleach==2.1.3
brial==1.0.1
certifi==2017.11.5
configparser==3.5.0
cvxopt==1.1.8
cycler==0.10.0
cypari2==1.1.4
cysignals==1.7.2
Cython==0.28.4
decorator==4.0.6
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
Flask==0.10.1
Flask-AutoIndex==0.6
Flask-Babel==0.9
Flask-DotEnv==0.1.1
flask-mongoengine==0.9.5
Flask-OldSessions==0.10
Flask-OpenID==1.2.5
Flask-Silk==0.2
Flask-WTF==0.14.2
fpylll==0.3.0.dev0
functools32==3.2.3.post2
future==0.16.0
html5lib==1.0.1
imagesize==0.7.1
ipykernel==4.7.0
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.1.1
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-core==4.4.0
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.8.3
mongoengine==0.15.3
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==1.11
notebook==5.3.1
numpy==1.13.3
olefile==0.46
pandocfilters==1.4.2
path.py==7.1
pathlib2==2.3.0
pexpect==4.1.0
pickleshare==0.7.4
Pillow==4.3.0
pkgconfig==1.2.2
prompt-toolkit==1.0.15
psage==2016.1.0
psutil==5.2.0
ptyprocess==0.5.1
pycrypto==2.6.1
Pygments==2.2.0
pymongo==3.7.1
pyparsing==2.2.0
python-dateutil==2.5.3
python-openid==2.2.5
pytz==2017.3
pyzmq==17.0.0b3
requests==2.13.0
rpy2==2.8.2
sage==8.2
sagenb==1.0.1
sagenb-export==3.2
sagetex==3.0
scandir==1.6
scipy==0.19.1
Send2Trash==1.4.2
setuptools-scm==1.15.6
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
speaklater==1.3
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
subprocess32==3.2.7
sympy==1.1.1
terminado==0.8.1
testpath==0.3.1
tornado==4.5.2
traitlets==4.3.2
Twisted==16.3.0
typing==3.6.2
vcversioner==2.16.0.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.11.10
widgetsnbextension==3.1.1
WTForms==2.2.1
zope.interface==4.4.3
